name: sandbox

on:
  pull_request:
    paths:
      - .github/workflows/sandbox.yaml

concurrency:
  group: ${{ github.workflow }}--${{ github.ref }}
  cancel-in-progress: true

jobs:
  a:
    uses: ./.github/workflows/sandbox--a.yaml
  b:
    uses: ./.github/workflows/sandbox--b.yaml
