name: sandbox

on:
  pull_request:
    paths:
      - .github/workflows/sandbox.yaml

jobs:
  do:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
