name: sandbox

on:
  pull_request:
    paths:
      - .github/workflows/sandbox.yaml

jobs:
  using-checks:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    permissions:
      checks: write
    steps:
      - uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        with:
          script: |
            const { data: created } = await github.rest.checks.create({
              owner: context.repo.owner,
              repo: context.repo.repo,
              name: 'example-check',
              head_sha: context.payload.pull_request.head.sha,
              status: 'in_progress',
            })
            core.info(JSON.stringify(created, undefined, 2))

            const { data: updated } = await github.rest.checks.update({
              owner: context.repo.owner,
              repo: context.repo.repo,
              check_run_id: created.id,
              status: 'completed',
              conclusion: 'success',
              output: {
                title: 'Example Check',
                summary: `Value2`,
                text: 'Value3',
              },
            })
            core.info(JSON.stringify(updated, undefined, 2))

      - uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        with:
          script: |
            const { data: listChecks } = await github.rest.checks.listForRef({
              owner: context.repo.owner,
              repo: context.repo.repo,
              ref: context.payload.pull_request.head.sha,
              check_name: 'example-check',
            })
            core.info(JSON.stringify(listChecks, undefined, 2))
            core.info(listChecks.check_runs.at(0)?.output?.text)

  using-commit-status:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    permissions:
      statuses: write
    steps:
      - uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        with:
          script: |
            const { data: created } = await github.rest.repos.createCommitStatus({
              owner: context.repo.owner,
              repo: context.repo.repo,
              sha: context.payload.pull_request.head.sha,
              state: 'success',
              context: 'example-commit-status',
              description: `Value`,
            })
            core.info(JSON.stringify(created, undefined, 2))

      - uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        with:
          script: |
            const { data: statuses } = await github.rest.repos.listCommitStatusesForRef({
              owner: context.repo.owner,
              repo: context.repo.repo,
              ref: context.payload.pull_request.head.sha,
            })
            core.info(JSON.stringify(statuses, undefined, 2))
